autostart
chromium
google-chrome
gtk-2.0
inkscape
SourceForge
transmission
user-dirs.dirs
vlc
dconf
homebank
Trolltech.conf
user-dirs.locale
google-googletalkplugin
apps
google-musicmanager
eog
gthumb
libreoffice
.libreoffice
