Atom-Shell
ImageMagick
evolution
icedtea-web
autostart
chromium
google-chrome
gtk-2.0
inkscape
SourceForge
transmission
user-dirs.dirs
vlc
dconf
homebank
Trolltech.conf
user-dirs.locale
google-googletalkplugin
apps
google-musicmanager
eog
gthumb
libreoffice
.libreoffice
gajim
evince
libreoffice
gedit
enchant
pithos.ini
pulse
Skype
spotify
notepaster
Thunar
xfce4
ipython
fontconfig
font-manager
fontgroups.xml
monitors.xml
icedtea-web
evolution
menus
xchat2
gconf
pavucontrol.ini
stalonetray
goa-1.0
mimeapps.list
fish/fishd.*
fish/fish_history
nautilus
totem
gtk-3.0
Atlassian
Empathy
teamviewer10
VirtualBox
KDE
QtProject.conf