session*
url
emacs.el
dict
tramp
newsrc.eld
bbdb
nnmail-cache
passwords.org
passwords.el
elpa
keys
.org-id-locations
dropbox-token
ac-comphist.dat
geiser-history.*
backups
projectile-bookmarks.eld
places
smex-items
ido.last
recentf
games

pavpanchekha@*
\#*
%*
